<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Sender</ion-label>
      <ion-select [(ngModel)]="sender" (ngModelChange)="selectedSender($event)">
        <ion-option *ngFor="let itm of listaddress.sender" [value]="itm">{{itm.name}} {{itm.surname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item padding *ngIf="sender">
      <ion-label floating>ที่อยู่ผู้ส่ง</ion-label>
      <ion-textarea value="{{sender.address + ' ' + sender.subdistrict + ' ' + sender.district+ ' ' + sender.province+ ' ' + sender.postcode}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Receiver</ion-label>
      <ion-select [(ngModel)]="receiver" (ngModelChange)="selectedReceiver($event)">
        <ion-option *ngFor="let itm of listaddress.receiver" [value]="itm">{{itm.name}} {{itm.surname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item padding *ngIf="receiver">
      <ion-label floating>ที่อยู่ผู้รับ</ion-label>
      <ion-textarea value="{{receiver.address + ' ' + receiver.subdistrict + ' ' + receiver.district+ ' ' + receiver.province+ ' ' + receiver.postcode}}"></ion-textarea>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Rates</ion-label>
      <ion-select [(ngModel)]="rates">
        <ion-option value="l">Lamunpan</ion-option>
        <ion-option value="t">Thaipost</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="rates == 'l'">
      <ion-item>
        <ion-label floating>ราคา</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>น้ำหนัก</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>ขนาด</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="rates == 't'">
      <ion-item>
        <ion-label floating>ราคา</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>น้ำหนัก</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>ขนาด</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div> -->
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary" *ngIf="!sender || !receiver" disabled>
      Next
    </button>
    <button ion-button block color="secondary" (click)="gotoNextStep()" *ngIf="sender && receiver">
      Next
    </button>
  </ion-toolbar>
</ion-footer>