page-home {
    .description {
        font-size: 0.8em;
    }
    .seeall {
        padding-top: -5px;
    }
    .font-bold {
        font-weight: bold;
    }
    .marginT {
        margin-top: 10px;
    }
}
