<!-- Generated template for the SlideTabsComponent component -->
<div class="slide-tabs">
  <ion-toolbar no-border class="scrollable-segments">
    <ion-segment id="scrollable" [(ngModel)]="tabs" mode="md">
      <ion-segment-button value="0" (click)="selectTab(0)">
        Waiting
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectTab(1)">
        Accept
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectTab(2)">
        Sorting
      </ion-segment-button>
      <ion-segment-button value="3" (click)="selectTab(3)">
        Receive
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides #tabsSlider (ionSlideWillChange)="changeWillSlide($event)">

    <ion-slide>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of items.waiting" (click)="clickItem(item)">
            <div text-right>
              <label style="font-size: small;">Ord :{{item._id}}</label>
            </div>
            <p>ผู้รับ {{item.receiver.name}} {{item.receiver.surname}} ({{item.receiver.tel}})</p>
            <p>ผู้ส่ง {{item.sender.name}} {{item.sender.surname}} ({{item.sender.tel}})</p>
            <div text-right>
              <label style="font-size: small;">ราคารวม {{item.amount}} บาท</label>
            </div>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content>
        <ion-list *ngFor="let item of items.accept" (click)="clickItem(item)">
          <ion-item>
            <ion-thumbnail item-start>
              <p>เลขที่สินค้า {{item._id}}</p>
              <p>ราคารวม {{item.amount}} บาท</p>
              <p>ผู้รับ {{item.receiver.name}} {{item.receiver.surname}} ({{item.receiver.tel}})</p>
              <p>ผู้ส่ง {{item.sender.name}} {{item.sender.surname}} ({{item.sender.tel}})</p>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content>
        <ion-list *ngFor="let item of items.sorting" (click)="clickItem(item)">
          <ion-item>
            <ion-thumbnail item-start>
              <p>เลขที่สินค้า {{item._id}}</p>
              <p>ราคารวม {{item.amount}} บาท</p>
              <p>ผู้รับ {{item.receiver.name}} {{item.receiver.surname}} ({{item.receiver.tel}})</p>
              <p>ผู้ส่ง {{item.sender.name}} {{item.sender.surname}} ({{item.sender.tel}})</p>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
    <ion-slide>

      <ion-content>
        <ion-list *ngFor="let item of items.receive" (click)="clickItem(item)">
          <ion-item>
            <ion-thumbnail item-start>
              <p>เลขที่สินค้า {{item._id}}</p>
              <p>ราคารวม {{item.amount}} บาท</p>
              <p>ผู้รับ {{item.receiver.name}} {{item.receiver.surname}} ({{item.receiver.tel}})</p>
              <p>ผู้ส่ง {{item.sender.name}} {{item.sender.surname}} ({{item.sender.tel}})</p>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slides>
</div>