<!-- Generated template for the SlideTabsComponent component -->
<div class="slide-tabs">
  <ion-toolbar no-border class="scrollable-segments">
    <ion-segment id="scrollable" [(ngModel)]="tabs">
      <ion-segment-button value="0" (click)="selectTab(0)">
        Waiting
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectTab(1)">
        Accept
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectTab(2)">
        Sorting
      </ion-segment-button>
      <ion-segment-button value="3" (click)="selectTab(3)">
        Receive
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides #tabsSlider (ionSlideWillChange)="changeWillSlide($event)">

    <ion-slide>
      <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <h2>เลขที่สินค้า</h2>
              <h2>ขนาด</h2>
              <h2>น้ำหนัก</h2>
              <h2>ผู้รับ</h2>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <h2>เลขที่สินค้า</h2>
              <h2>ขนาด</h2>
              <h2>น้ำหนัก</h2>
              <h2>ผู้รับ</h2>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <h2>เลขที่สินค้า</h2>
              <h2>ขนาด</h2>
              <h2>น้ำหนัก</h2>
              <h2>ผู้รับ</h2>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
    <ion-slide>

      <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <h2>เลขที่สินค้า</h2>
              <h2>ขนาด</h2>
              <h2>น้ำหนัก</h2>
              <h2>ผู้รับ</h2>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slides>
</div>