<!-- Generated template for the AddPickupComponent component -->
<ion-content>
    <ion-list >
        <ion-item>
            <ion-label stacked>Postcode</ion-label>
            <ion-input type="postcode"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>Province</ion-label>
            <ion-input type="province"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>District</ion-label>
            <ion-input type="district"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Subdistrict</ion-label>
            <ion-input type="subdistrict"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Address title</ion-label>
            <ion-input type="address title"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>Address detail</ion-label>
            <ion-input type="address detail"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>Mobile number</ion-label>
            <ion-input type="Mobile number"></ion-input>
        </ion-item>
  </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <button ion-button block color="secondary" (click)="gotoBooking()">SAVE</button>
    </ion-toolbar>
  </ion-footer>
