home-detail {
    .h3-name {
        color: #255357;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .color-orenge-custom {
        color: #ff5722;
    }
    .color-gold-custom {
        color: gold;
    }
    .text-decoration {
        text-decoration: line-through;
    }
    .margin-left-custom {
        margin-left: 20px !important;
    }

}
